In [ ]:
import pandas as pd
import numpy as np

import torch
import torch.nn as nn
from torch.utils.data import DataLoader
# from torch.utils.data import *

import time
import random
import re

import matplotlib.pyplot as plt 
%matplotlib inline

import pdb
from tqdm.auto import tqdm

from pprint import pprint

In [2]:
train_news = pd.read_csv("data/Small_data_set/MINDsmall_train/news.tsv", sep="\t", header=None)
train_behaviors = pd.read_csv("data/Small_data_set/MINDsmall_train/behaviors.tsv", sep="\t", header=None)

dev_news = pd.read_csv("data/Small_data_set/MINDsmall_dev/news.tsv", sep="\t", header=None)
dev_behaviors = pd.read_csv("data/Small_data_set/MINDsmall_dev/behaviors.tsv", sep="\t", header=None)

columns = ["News_ID","Category","Subcategory","News_Title","News_Abstrct",
           "News_Url","Entities_in_News_Title","Entities_in_News_Abstract"]
train_news.columns = columns

columns = ["Impression_ID","User_ID","Impression_Time","User_Click_History","Impression_New"]
train_behaviors.columns = columns

print("train_news = ",train_news.shape)
print("train_behaviors = ",train_behaviors.shape)

train_news =  (51282, 8)
train_behaviors =  (156965, 5)

In [3]:
train_news.head(3)

,News_ID,Category,Subcategory,News_Title,News_Abstrct,News_Url,Entities_in_News_Title,Entities_in_News_Abstract
0,N55528,lifestyle,lifestyleroyals,"The Brands Queen Elizabeth, Prince Charles, an...","Shop the notebooks, jackets, and more that the...",https://assets.msn.com/labs/mind/AAGH0ET.html,"[{""Label"": ""Prince Philip, Duke of Edinburgh"",...",[]
1,N19639,health,weightloss,50 Worst Habits For Belly Fat,These seemingly harmless habits are holding yo...,https://assets.msn.com/labs/mind/AAB19MK.html,"[{""Label"": ""Adipose tissue"", ""Type"": ""C"", ""Wik...","[{""Label"": ""Adipose tissue"", ""Type"": ""C"", ""Wik..."
2,N61837,news,newsworld,The Cost of Trump's Aid Freeze in the Trenches...,Lt. Ivan Molchanets peeked over a parapet of s...,https://assets.msn.com/labs/mind/AAJgNsz.html,[],"[{""Label"": ""Ukraine"", ""Type"": ""G"", ""WikidataId..."

In [4]:
train_behaviors.head(1)

,Impression_ID,User_ID,Impression_Time,User_Click_History,Impression_New
0,1,U13740,11/11/2019 9:05:58 AM,N55189 N42782 N34694 N45794 N18445 N63302 N104...,N55689-1 N35729-0

In [5]:
pick = train_behaviors[train_behaviors['User_ID']=='U13740']
pick

,Impression_ID,User_ID,Impression_Time,User_Click_History,Impression_New
0,1,U13740,11/11/2019 9:05:58 AM,N55189 N42782 N34694 N45794 N18445 N63302 N104...,N55689-1 N35729-0
35262,35263,U13740,11/9/2019 5:59:43 AM,N55189 N42782 N34694 N45794 N18445 N63302 N104...,N20020-0 N3737-0 N43202-0 N18708-0 N30125-0 N3...
154836,154837,U13740,11/13/2019 3:27:40 PM,N55189 N42782 N34694 N45794 N18445 N63302 N104...,N13907-0 N8509-0 N47061-0 N51048-0 N22417-0 N3...

In [6]:
# for i,j in zip(pick['User_Click_History'],pick['Impression_New']):
#     print(i)
#     print(j)
#     print(" ")

print( pick['User_Click_History'][0] )
print( pick['Impression_New'][0] )

N55189 N42782 N34694 N45794 N18445 N63302 N10414 N19347 N31801
N55689-1 N35729-0

In [16]:
news_pick = train_news[train_news['News_ID']=='N19639']
print( list(news_pick['News_Title'])[0])
print( list(news_pick['News_Abstrct'])[0])

50 Worst Habits For Belly Fat
These seemingly harmless habits are holding you back and keeping you from shedding that unwanted belly fat for good.

In [18]:
import json
pprint( json.loads( list(news_pick['Entities_in_News_Title'])[0]) )

[{'Confidence': 1.0,
  'Label': 'Adipose tissue',
  'OccurrenceOffsets': [20],
  'SurfaceForms': ['Belly Fat'],
  'Type': 'C',
  'WikidataId': 'Q193583'}]